{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

pubtit { font-weight: bold; font-size: large; overflow: hidden;}
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#gridid .pub img { width: 20%; float: left; margin: 16px 22px 6px 0; border-radius: 5%; box-shadow: none; }
@media only screen and (max-width: 768px) {
	#gridid .pub img { width: 80%; position: relative; left: 10%; float: none; margin: 10px 0 10px 0; }
}
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }v
<div class="pub" style="display: inline-block; width: 100%; margin: 20px 0 20px 0">
  {% if post.teaser %}
    <img src=
      {% if post.teaser contains "://" %}
        "{{ teaser }}"
      {% else %}
        "{{ post.teaser | prepend: "/images/" | prepend: base_path }}"
      {% endif %}
      style="width: 200px;"/>
  {% endif %}
  <!--
  <h2 class="archive__item-title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h2>
  -->
  <pubit>
    {% if post.link %}
      <b><a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i>Permalink</a></b>
    {% else %}
      <b><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b>
    {% endif %}
  </pubit>

  {% if post.excerpt and site.read_more != 'enabled' %}
  <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
  {% elsif post.excerpt and site.read_more == 'enabled' %}
  <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
  {% endif %}
  
  {% if post.citation and post.paperurl %}
    <small><p>{{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p></small>
  {% elsif post.citation %}
    <small><p>{{ post.citation }}</p></small>
  {% elsif post.paperurl %}
    <small><p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p></small>
  {% endif %}

</div>
